extends layout

block content

  h2 Bienvenido a #{title}
  p El portal donde podrá crear sus propios juegos
  p Si hace la ventana estrecha cambiará de aspecto
  p <a href="/quizes">Comience a jugar </a>

