/*
    style.css
    Estilo por defecto.
*/

*                   { margin: 0; padding: 0; }
body              { padding: 50px; font: 14px Georgia, serif; background-color: #aa3322; }

#page-wrap   { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding 1%;
                    margin-bottom: 1px; color: black; }


h1                 { font-family: "Caesar Dressing"; }

nav ul          { padding: 0; }


nav ul li      {
display: inline;	// Eliminamos el avance de línea
}

nav li a {	// Lo personalizamos
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #2175bc;
color: #fff;
}

nav li a:hover {		// Le damos vida
background-color: #2586d7;
margin-top:-2px;
padding-bottom:12px;
}


section {
  padding-top: 40px;
  font: 20px;
  font-family: Helvetica;
  color: #bbbbff;
  text-align: center;
}

a               { color: #00B7FF; }

footer {
    padding-top: 10px;
}
footer a:hover {
background-color: #2586d7;
}
